<ul class="nav">
    <li class="nav-item"><a class="nav-item"href="/">Home</a></li>
    <li class="nav-item"><a class="nav-item"href="/about">About me</a></li>
    <li class="nav-item"><a class="nav-item"href="/projects">Projects</a></li>
</ul>